@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: small;
}

.title-carrito {
  background-color: #82C294;
  color: aliceblue;
  margin-top: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif !important;
  grid-column: 1 / -1;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.section-carrito {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  display: flex;
}

.detalle-carrito {
  margin: 15px;
  display: flex;
  background-color: lightgray;
  height: 100%;
  width: 30%;
  margin-right: 15px;
  flex-direction: column;
  align-items: center;
}

.titulo-resumen-carrito {
  padding: 2% 0;
}

.resumen-compra-carrito {
  text-align: left;
  margin: 10px;
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.quantity-btn{
background-color: #adb5bd;
border-radius: 5px;
margin: 0 5%;
}

.item-resumen {
  display: grid;
  text-align: left;
  margin-left: 5%;
}

.item-title{
  font-weight: bold;
  text-align: justify;
}

.item{
  padding: 3% 0;
}

.total-carrito {
  text-align: center;
  font-weight: bold;
  padding: 7% 0;
  text-transform: uppercase;
  color: #45a049;
}

.item-title-total{
  font-size: large;
}

.button-compra{
  background-color: #82C294;
  color: white;
  margin: 12% 0;
  border-radius: 5px;
  padding: 0 5%;
}

.button-compra:hover{
  background-color: #45a049;
}

#continuar-compra {
  margin: 20px;
  padding: 10px 20px;
  background-color: #82C294;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#continuar-compra:hover {
  background-color: #45a049;
}

#continuar-compra:active {
  background-color: #3e8e41;
}

.container-carrito {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.products-cart {
  background-color: lightgray;

  margin: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
  margin-bottom: 20px;
}

.product-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prodc-nombre-carrito {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-cart img {
  width: 120px;
  height: 90px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.botones-carrito a {
  margin: 10px;
  text-decoration: none;
  color: #82C294;
}

.botones-carrito button {
  margin: 10px;
  text-decoration: none;
  color: #82C294;
  border: none;
  background-color: transparent;

}

.btn-carrito {
  display: flex;
  align-items: center;
  color: #82C294;
}

.btn-eliminar button:hover {
  color: red;
  background-color: transparent;
}

.btn--carrito a:hover {
  color: #0a73ec;
}


.prodc-precio-carrito {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-cart h3 {
  text-align: center;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-btn {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.quantity-input {
  height: 100%;
  width: 50px;
  text-align: center;
}




.agregar-al-carrito {
  padding: 10px 20px;
  background-color: #82C294;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.agregar-al-carrito:hover {
  background-color: #45a049;
}

.agregar-al-carrito:active {
  background-color: #3e8e41;
}



.products {
  margin: 20px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product h3 {
  text-align: center;
}

.product img {
  width: 210px;
  height: 137px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.agregar-al-carrito {
  padding: 10px 20px;
  background-color: #82C294;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.agregar-al-carrito:hover {
  background-color: #45a049;
}

.agregar-al-carrito:active {
  background-color: #3e8e41;
}


footer {
  background-color: rgb(88, 88, 88);
  color: white;
  padding: 30px 0;
  margin-top: 30px;
  text-align: center;
}