@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-size: medium;
}
.logo-nav{
    justify-self: center;
}
.logo-nav img {
  width: 100px;
  justify-self: center;
  cursor: pointer;
}
button:hover {
  background-color: #82c294;
}

.nav-container {
  margin-bottom: 0;
  background-color: #82c294;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  list-style: none;
}

.ul-nav {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  list-style: none;
  height: 100px;
  margin: 0;
}

.ul-nav * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.ul-nav a {
  position: relative;
  color: rgba(77, 80, 77, 0.5);
  padding: 0.5rem 0.8rem;
  text-decoration: none;
}

.ul-nav a:before,
.ul-nav a:after {
  position: absolute;
  height: 15px;
  width: 15px;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.ul-nav a:before {
  right: 0;
  top: 0;
  border-right: 3px solid #0aec6c;
  border-top: 3px solid #0aec6c;
  -webkit-transform: translate(-100%, 50%);
  transform: translate(-100%, 50%);
}

.ul-nav a:after,
.ul-nav a.active:after {
  left: 0;
  bottom: 0;
  border-left: 3px solid #0aec6c;
  border-bottom: 3px solid #0aec6c;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}

.ul-nav a:hover {
  color: white;
}

.ul-nav a:hover:before,
.ul-nav a.active:before,
.ul-nav a:hover:after,
.ul-nav a.active:after,
.ul-nav a.active {
  color: white;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

.container-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-items: center;
  margin: 10px;
}
.container-icons img:hover {
  transition: filter 0.2s;
  filter: brightness(0) invert(1); /* Aplica un filtro para cambiar el color a blanco */
}



@media screen and (max-width: 950px) {
  
    .logo-nav img {
        width: 100px;
        justify-self: center;
        cursor: pointer;
      }

      .container-icons {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        margin: 10px;
        justify-items: center;
        align-items: center;
    }

    .nav-container {
        margin-bottom: 0;
        background-color: #82c294;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        list-style: none;
      }

  .ul-nav {
    margin-top: auto;
    display: flex;
    top: 75px;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: lightgray;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    box-shadow: 0 40px 60px rgba(0, 0,0,0.1);
    padding: 30px;
    transition: right 0.5s ease;
  }

  .ul-nav li{
    margin: 5px;
    transition: right 0.5s ease;
  }

  .ul-nav.active{
    right: 0px;
  }
}


