@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    font-size: small;

}
.hr{
    margin: 2px;
}
/* Estilos para el header de INICIO / REGISTRO */

.title-inicio{
  background-color: #82C294;
  color: aliceblue ;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-family: 'poppins',sans-serif !important;
}


  .container-fluid{
    height: 100%;
    width: 100%;
  
   }
   
   .carousel-inner img {
      width: 100%;
   
  }
  
  .carousel-inner{
    height: 100%;
  }

  .carousel-control-next, .carousel-control-prev {
    z-index: 2;
    height: 95%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 950px)and (min-width:350px){
    .servicios{
        padding: 10px;
        display: flex;
        justify-content:space-between;
        font-size: small !important;
        
      }
      .servicios img{
       width: 60px;
      }

      .servicios h4{
        font-size: small;
      }
  }

  .servicios{
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  .servicios img{
    margin-bottom: 30px;
  }

  .categorias{
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .one {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .one img {
    width: 85%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .two {
    width: 30%;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .two img {
    width: 75%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
    border-radius: 10px;
  }
  
 

  
  .three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .three-one {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 45%;
  }
  
  .three-one img {
    height: 100%;
    width: 270px;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 10px;
  }
  
  .three-two {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 45%;
  }
  
  .three-two img {
    height: 100%;
    width: 270px;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 10px;   
  }
  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .overlay:hover {
    opacity: 1;
  }
  .overlay h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .overlay-two{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
  .overlay-two:hover {
    opacity: 1;
  }
  .overlay-two h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .overlay-three {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .overlay-three:hover {
    opacity: 1;
  }
  .overlay-three h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  @media screen and (max-width: 950px)and (min-width:350px){
    .categorias{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    
    
      .one {
        position: relative;
        display: inline-block;
        overflow: hidden;
      }
      
      .one img {
        width: 80%;
        height: 85%;
        transition: 0.5s;
        object-fit: cover;
        border-radius: 10px;
      }
      
      .two {
        width: 70%;
        position: relative;
        display: inline-block;
        overflow: hidden;
      }
      
      .two img {
        width: 75%;
        height: 85%;
        transition: 0.5s;
        object-fit: cover;
        border-radius: 10px;
      }
      
      .three {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
      }
      
      .three-one {
        position: relative;
        display: inline-block;
        overflow: hidden;
        height: 50%;
      }
      
      .three-one img {
        height: 70%;
        width: 150px;
        object-fit: cover;
        transition: 0.5s;
        border-radius: 10px;
      }
      
      .three-two {
        position: relative;
        display: inline-block;
        overflow: hidden;
        height: 50%;
      }
      
      .three-two img {
        height: 70%;
        width: 150px;
        object-fit: cover;
        transition: 0.5s;
        border-radius: 10px;   
      }
      
    
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .overlay:hover {
        opacity: 1;
      }
      .overlay h3 {
        color: white;
        font-size: 14px;
        font-weight: bold;
      }
    
      .overlay-two{
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
      .overlay-two:hover {
        opacity: 1;
      }
      .overlay-two h3 {
        color: white;
        font-size: 14px;
        font-weight: bold;
      }
    
      .overlay-three {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .overlay-three:hover {
        opacity: 1;
      }
      .overlay-three h3 {
        color: white;
        font-size: 14px;
        font-weight: bold;
      }
    
  }



  .marca{
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.marca h4{
    text-align: justify;
}

.marca-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.marca-content img{
  height: 100%;
  width: 30%;
}
.marca-content h3{
  margin-top: 10px;
  width: 60%;
  text-align: justify;
}

@media screen and (max-width: 950px)and (min-width:350px){
    .marca-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .marca-content img{
        height: 100%;
        width: 50%;
      }
      .marca-content h3{
        margin-top: 10px;
        width: 100%;
        text-align: justify;
      }
  }